// Functions
@function cards-w($card-w,
		          $card-m-r,
		          $cards) {
    @return ($card-w * $cards) + ($card-m-r * ($cards - 1));
}

@function cards-control-w($container-w,
			              $card-w,
			              $card-m-r) {
    @return ($container-w - $card-w - 2 * $card-m-r) / 2;
}


// Variables
$container-w : 100% !default;

$card-w   : 500px !default;
$card-h   : 150px !default;
$card-m-r : 1% !default;
$card-m   : 0 $card-m-r 0 0 !default;
$card-p   : 10px !default;

$card-b   : 1px solid rgba(0, 0, 0, .1) !default;
$card-b-r : 5px !default;

$card-bg       : #eee !default;

$card-media-w  : 120px !default;
$card-media-h  : $card-media-w !default;
$card-media-m  : 0 10px 10px 0 !default;
$card-media-bg : rgba(0, 0, 0, .3) !default;

$card-content-f-s : 1rem !default;
$card-content-l-h : 1.2 !default;

$cards           : 5 !default;

$control-w       : 23px !default;
$control-next-lt : 0 !default;

.container {
    position: relative;

    display : block;
    width   : $container-w;
    height  : $card-h;
    overflow: hidden;
}

.cards {
    position: absolute;
    top     : 0;
    left    : 0;

    display : block;
    height  : $card-h;
    transition: all .1s ease-in;
}

.cards__control {
    position : absolute;

    height   : $card-h;

    background: rgba(1, 1, 1, .1);

    &.control--prev {
        top  : 0;
        left : 0;
    }

    &.control--next {
        top   : 0;
        right : 0;
    }

    &.hidden {
        display: none;
    }

    .btn {
        position: relative;
        top     : ($card-h / 2) - 11px;
        left    : $control-next-lt;

        padding: 3px 5px;

        background : $card-bg;
    }
}

.card {
    box-sizing : border-box;

    float   : left;

    height  : $card-h;
    padding : $card-p;

    border        : $card-b;
    border-radius : $card-b-r;

    background : $card-bg;

    &:last-child {
        margin : 0;
    }
}

.card__media {
    float   : left;

    width   : $card-media-w;
    height  : $card-media-h;
    margin  : $card-media-m;

    background : $card-media-bg;
}
